* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #090f0c;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  color: #f4f4f0;
}

button,
a {
  font: inherit;
}
